<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.electroniccase.mapper.PatientsMapper">
    <!--
    
  -->


    <!--自定义映射-->

    <!--自定义映射-->


    <!--下面撰写sql语句-->

    <!--void addPatient(Patients patients);-->
    <insert id="addPatient" useGeneratedKeys="true" keyProperty="patientId">
        insert into patients (`name`, disease_id_list, first_category)
        values (#{name}, #{diseaseIdList}, #{firstCategory})
    </insert>

    <!--Patients getPatient(@Param("patientId") Long patientId);-->
    <select id="getPatient" resultType="Patients">
        select `name`
        from patients
        where patient_id = #{patientId}
    </select>

    <!--上面撰写sql语句-->

</mapper>